/* Style Hp */
body {
    background-color: black;
}
.col-
/* Style Tablet */
@media screen and (min-width: 600px) {
    body {
        background-color: red;
    }
    .col-md-6{
        width: 50%;
        background-color: wheat;
        float: left;
    }
}
/* Style Desktop */
@media screen and (min-width: 992px){
    body {
        background-color: aqua;
    }
    .col-lg-3{
        width: 25%;
        background-color: white;
        float: left;
    }
}
