*{
    box-sizing: border-box;
}
/* Style Hp */
body {
    background-color: blueviolet;
}
.p-2{
    padding: 20px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
/* Style Tablet */
@media screen and (min-width: 600px) {
    body {
        background-color: red;
    }
    .col-md-6{
        width: 50%;
        background-color: wheat;
        float: left;
    }
    .col-md-1 {
        width: 100%;
        background-color: burlywood;
        float: left;
    }
}
/* Style Desktop */
@media screen and (min-width: 992px){
    body {
        background-color: aqua;
    }
    .col-lg-3{
        width: 25%;
        background-color: white;
        float: left;
    }
    .col-lg-1{
        width: 33.3%;
        background-color: white;
        float: left;
    }
}
img{
    width: 100%;
    
}